@charset "utf-8";
/* CSS Document */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,code,em,img,small,strong,sub,sup,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
a{color:#007bc4/*#424242*/; text-decoration:none;}
a:hover{text-decoration:underline}
a:focus {outline:none; -moz-outline:none;}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
body{height:100%; font:14px/18px "Microsoft Yahei", Tahoma, Helvetica, Arial, Verdana, "\5b8b\4f53", sans-serif; color:#51555C;}
img{border:none}
html{font-size: 50px; }
@media only screen and (min-width: 320px) { html { font-size: 42.6667px !important; } }
@media only screen and (min-width: 360px) { html { font-size: 48px !important; } }
@media only screen and (min-width: 375px) { html { font-size: 50px !important; } }
@media only screen and (min-width: 400px) { html { font-size: 53.3333px !important; } }
@media only screen and (min-width: 414px) { html { font-size: 55.2px !important; } }
@media only screen and (min-width: 432px) { html { font-size: 57.6px !important; } }
@media only screen and (min-width: 480px) { html { font-size: 64px !important; } }
@media only screen and (min-width: 640px) { html { font-size: 85.3333px !important; } }
/*  */
/* h2.top_title{margin:4px 10px; padding-top:15px; padding-bottom:10px; border-bottom:1px solid #d3d3d3; font-size:16px; color:#007bc4;font-weight:bold}
.optlist{margin:50px 10px;text-align:center;}
.optlist a{margin:6px;} */

/* .google_ad{width:728px; height:90px; margin:50px auto}
.ad_76090,.ad_demo{width:760px; height:90px; margin:40px auto}
.demo_topad{position:absolute; top:15px; right:0px; width:472px; height:60px;} */

/*
@media screen and (min-width: 320px) and (max-width : 480px) {
 html{-webkit-text-size-adjust: none;}
.header{width:100%}
.main{width:100%; margin:10px auto;  -moz-border-radius:0px;-khtml-border-radius: 0px;-webkit-border-radius: 0px; border-radius:0px;}
 .demo_topad{display:none}
 .google_ad{width:100%; margin:40px auto; text-align:center}
.ad_76090,.ad_demo{width:100%; height:auto; margin:40px auto;text-align:center}
.demo{width:98%; margin:10px auto}
} */
/* body .picker .picker-panel .picker-choose .picker-title{ font-size: 16px; } */
