/*只适用于移动端*/
*{ padding: 0; margin: 0; }
html, body{
	background-color: #fff;
	color: #333;
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
 }
li{ list-style: none; }
a{ text-decoration: none; color: #333; }
span,img{ display: block; }
img{ display: block; width: 100%; }
h1,h2,h3,h4,h5,h6,b,i{ font-weight: 400; font-style: normal }
input, textarea{ outline: none; background-color: rgba(0, 0, 0, 0); -webkit-user-select: auto; border: none; }
input::-webkit-input-placeholder { color: #999; }
textarea{ resize: none; display: block; }
textarea::-webkit-input-placeholder { color: #999; }
.app{ width: 100%; overflow: hidden; margin: 0 auto; max-width: 680px; }
.flex{ display: -webkit-box; display: -webkit-flex; display: flex; flex-wrap: wrap }
/* 垂直平居中 */
.vertical{ -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
/* 水平居中 */
.center{ -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.f1{ -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; }
.f2{ -webkit-box-flex: 2; -webkit-flex: 2; flex: 2; }
.f3{ -webkit-box-flex: 3; -webkit-flex: 3; flex: 3; }
/* 溢出...显示 */
.ellipsis{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* .textWrap(@num){ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: @num; text-overflow: ellipsis; overflow: hidden; } */
.priceColor{ color: #f53e3e; }
.themeColor{ color: #0066ff}
/* 渐变背景 */
.bg{ background: -webkit-linear-gradient(to bottom, #5b99f5, #2a78ed); background: linear-gradient(to bottom, #5b99f5, #2a78ed); }
/* 底部长条按钮 */
.bottom_btn{ width: 6.6rem; height: .9rem; text-align: center; line-height: .9rem; font-size: .3rem; color: #fff; border-radius: .08rem; background-color: #0066ff; }
/* 底部没有更多 */
.no_more{ line-height: .8rem; font-size: .28rem; color: #999; text-align: center; background-color: #fff; }
/* 列表动画 */
@-webkit-keyframes listMove {
	from { -webkit-transform: translateY(1rem); transform: translateY(1rem); opacity: 0; }
	to { -webkit-transform: translateY(0rem); transform: translateY(0rem); opacity: 1; }
}
@keyframes listMove {
	from { -webkit-transform: translateY(1rem); transform: translateY(1rem); opacity: 0; }
	to { -webkit-transform: translateY(0rem); transform: translateY(0rem); opacity: 1; }
}
/* 按钮动画 */
@-webkit-keyframes btnMove {
	from { -webkit-transform: translateX(.5rem); transform: translateX(.5rem); opacity: 0; }
	to { -webkit-transform: translateX(0rem); transform: translateX(0rem); opacity: 1; }
}
@keyframes btnMove {
	from { -webkit-transform: translateX(.5rem); transform: translateX(.5rem); opacity: 0; }
	to { -webkit-transform: translateX(0rem); transform: translateX(0rem); opacity: 1; }
}
/*定义rem*/
@media only screen and (min-width: 320px) { html { font-size: 42.6667px !important; } }
@media only screen and (min-width: 360px) { html { font-size: 48px !important; } }
@media only screen and (min-width: 375px) { html { font-size: 50px !important; } }
@media only screen and (min-width: 400px) { html { font-size: 53.33333333px !important; } }
@media only screen and (min-width: 414px) { html { font-size: 55.2px !important; } }
@media only screen and (min-width: 480px) { html { font-size: 64px !important; } }
