/* 只适用于移动端 */
*{ padding: 0; margin: 0; }
html, body{
	background-color: #fff;
	color: #333;
	/* 禁用系统长按菜单 */
	-webkit-touch-callout: none; 
	/* 禁用字体大小自动调整 */
	-webkit-text-size-adjust: none !important;
	/* 去掉点击高亮 */
	-webkit-tap-highlight-color: transparent;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
li{ list-style: none; }
a{ text-decoration: none; color: #333; }
span, img{ display: block; }
img{ display: block; width: 100%; }
h1,h2,h3,h4,h5,h6,b,i{ font-weight: normal; font-style: normal }
button, input, textarea{ outline: none; border: none; background-color: transparent; -webkit-user-select: auto; }
input::-webkit-input-placeholder { color: #999; }
button::after, input::after{ border: none; }
textarea{ resize: none; display: block; }
textarea::-webkit-input-placeholder { color: #999; }

/* 页面结构处理 */
.page{ width: 100%; overflow: hidden; margin: 0 auto; max-width: 680px; }

/* flex布局 */
.flex{ display: -webkit-box; display: -webkit-flex; display: flex; flex-wrap: wrap }
.f1{ flex: 1; }
.f2{ flex: 2; }
.f3{ flex: 3; }
/* 垂直居中 */
.fvertical{ align-items: center; }
/* 水平居中 */
.fcenter{ justify-content: center; }

/* 溢出...显示 */
.ellipsis{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.ellipsis-2{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; text-overflow: ellipsis; overflow: hidden; }
.ellipsis-3{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; text-overflow: ellipsis; overflow: hidden; }

/* 卡片 */
.card{ 
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12); 
    border-radius: 2px; 
    background-color: #fff;
    overflow: hidden;
}

/* 按钮 */
.button {
    display: inline-block;
    overflow: hidden;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 2px;
    min-width: 88px;
    height: 36px;
    /* line-height: 36px; */
    vertical-align: middle;
    padding: 0 16px; 
    font-size: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    color: #fff;
    transition: .2s all;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.button:active{ box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12); }
.blue-btn{ background-color: #409eff; }
.green-btn{ background-color: #4caf50; }
.red-btn{ background-color: #f44336; }