/*只适用于移动端*/
*{ padding: 0; margin: 0; }
html, body{
	font-size: 50px;
	background-color: #fff;
	color: #333;
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
 }
li{ list-style: none; }
a{ text-decoration: none; color: #333; }
span,img{ display: block; }
img{ display: block; width: 100%; }
h1,h2,h3,h4,h5,h6,b,i{ font-weight: 400; font-style: normal }
input, textarea{ outline: none; background-color: rgba(0, 0, 0, 0); -webkit-user-select: auto; border: none; }
input::-webkit-input-placeholder { color: #999; }
textarea { resize: none; display: block; }
[data-active]:active{ background-color: #eee; }
[data-opacity]:active{ opacity: 0.8; }
.app{ width: 100%; overflow: hidden; margin: 0 auto; max-width: 680px; }
.flex{ display: -webkit-box; display: -webkit-flex; display: flex; flex-wrap: wrap }
/* 垂直平居中 */
.vertical{ -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
/* 水平居中 */
.center{ -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.f1{ -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; }
.f2{ -webkit-box-flex: 2; -webkit-flex: 2; flex: 2; }
.f3{ -webkit-box-flex: 3; -webkit-flex: 3; flex: 3; }
.ellipsis{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* .textWrap(@num){ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: @num; text-overflow: ellipsis; overflow: hidden; } */
.priceColor{ color: #f53e3e; }
.themeColor{ color: #0066ff}
.no_more{ line-height: .8rem; font-size: .28rem; color: #999; text-align: center; background-color: #fff; }
