* {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.page {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
}

.page button {
  min-width: 140px;
  height: 40px;
  text-align: center;
}

.webAudio {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.webAudio .file {
  padding: 5px;
  margin-bottom: 10px;
}

.webAudio .audio-item {
  width: 100%;
  border: dashed 1px coral;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.webAudio button {
  padding: 0 10px;
  margin-bottom: 10px;
}

.webAudio canvas {
  display: block;
  margin: 0 auto;
}